{% extends "base.html" %} {% load static %} {% block content %} <link
rel="stylesheet" href="{% static "css/style.css" %} " />
<div class="container-div">
  <div class="text-div">
    <h3>
      Embark on a Culinary Journey at Flavor Fusion Hub: Where Diverse Flavors
      Unite in Every Bite!
    </h3>
    <p class="text">
      Indulge your senses at Flavor Fusion Hub, where our chefs craft a symphony
      of culinary delights inspired by global flavors. From sizzling grills to
      exotic spices, each dish tells a story of passion and innovation. Immerse
      yourself in a world where taste knows no boundaries, and every bite is a
      journey of exploration. Welcome to a dining experience beyond the ordinary
      – welcome to Flavor Fusion Hub, where every meal is an adventure in flavor
      !
    </p>
  </div>
  <img
    class="img-size"
    src="{% static 'images/homeimg.jpeg' %}"
    alt="home-pic"
  />
</div>

{% endblock content %}
